button {
  border: 0;
  border-radius: 8px;
  background: var(--primary-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 240px;
  height: 48px;
}
