.carouselWrapper {
  position: relative;
  font-size: 16px;
}
.carouselLeftContent {
  position: absolute;
  margin-top: 100px;
  margin-left: 6%;
}

@media screen and (min-width: 768px) {
  .carouselLeftContent {
    margin-left: 10%;
    margin-top: 170px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carouselLeftContent {
    margin-top: 120px;
  }
}

@media screen and (max-width: 375px) {
  .carouselLeftContent {
    margin-left: 0;
  }
}

.carouselLeftContent h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.875em;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 33px */
  width: 366px;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  .carouselLeftContent h1 {
    font-size: 2em;
    width: 50%;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .carouselLeftContent h1 {
    font-size: 3.75em;
    width: 734px;
    text-align: left;
  }
}

h1 > span {
  color: #3f83f8;
}

.carouselLeftContent p {
  color: #fff;
  font-family: Inter;
  font-size: 1.0625em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 366px;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  .carouselLeftContent p {
    font-size: 1.25em;
    text-align: left;
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .carouselLeftContent p {
    font-size: 1.25em;
    width: 620px;
    text-align: left;
  }
}

.carouselLeftContent .CTAStyle {
  font-size: 0.75em;
}

.carouselLeftContent .CTAWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .carouselLeftContent .CTAWrapper {
    display: block;
  }
}
nav {
  margin: 35px 33%;
  display: flex;
  align-items: center;
  position: absolute;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
    width: 76%;
    margin: 50px 10%;
  }
}

nav > img {
  width: 119px;
  height: 13.819px;
}

@media screen and (min-width: 768px) {
  nav > img {
    width: 196px;
    height: 23px;
  }
}

.navButton {
  display: none;
}

@media screen and (min-width: 768px) {
  .navButton {
    display: block;
    border-radius: 6px;
    border: 1.5px solid #c3ddfd;
    width: 83px;
    height: 32px;
    color: #c3ddfd;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    background: transparent;
    cursor: pointer;
  }
}

.carouselIimage {
  max-width: 100%;
  height: auto;
  width: 100%;

  /* remove this when you get mobile image */
  @media screen and (max-width: 1024px) {
    max-width: fit-content;
    width: 950px;
  }
}
