.TestimonialWrapper {
  margin: 70px auto;
}

.TopSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto 48px;
  width: 339px;
}

@media screen and (min-width: 768px) {
  .TopSectionWrapper {
    width: 100%;
  }
}

.TopSectionWrapper > h3 {
  color: var(--black);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin: 0px 30px 10px;
}

@media screen and (min-width: 768px) {
  .TopSectionWrapper h3 {
    color: #161b28;
    font-size: 50px;
  }
}

.TopSectionWrapper p {
  color: var(--black);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media screen and (min-width: 768px) {
  .TopSectionWrapper p {
    color: #313131;
    font-size: 18px;
    width: 557px;
  }
}

.TopSectionWrapper span {
  color: var(--primary-blue);
}

.ClientTestimonialSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ClientTestimonialSection {
    flex-direction: row;
    justify-content: space-between;
  }
}

.ClientTestimonialStyle {
  background: #f9fafb;
  border-radius: 8px;
  width: 322px;
  max-width: 322px;
  padding: 32px;
  margin: 0 30px;
}

@media screen and (min-width: 768px) {
  .ClientTestimonialStyle {
    width: 599px;
    max-width: 599px;
  }
}

.ClientTestimonialStyle > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.ClientTestimonialStyle > div span {
  color: #f2f2f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .ClientTestimonialStyle > div span {
    color: #33393e;
    margin-right: 5px;
  }
}

.ClientTestimonialStyle > p {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .ClientTestimonialStyle > p {
    color: #1a1a1a;
  }
}
